


.wishlist{
    /* border: 11px solid pink; */
    width: auto;
    
    display: block;
    margin: auto 10% auto 10%;
}

.wishlistImg{
    /* color:black;
    border: 11px solid purple;
    width: 10%;
    height: auto; */
    margin: 1em 5em 1em 11em;
}
.wishlistImg img{
    border: 1px solid purple;
    height: 50px;
    width: auto;
    
}

.wishlistClothingCard{
 border: 1px solid red;
}

.wishlistClothingDetails{
    border: 1px solid green;
}
.wishlistData{
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid black;
}
.wishlistInfo{
    width: 100%;
}
.wishlistPrice{
    font-size: 1.5em;
    width: 100%;
    margin: 0 0 0 2em;
    padding: 0;
    display: flex;
}
.wishlistPrice p{
    justify-content: flex-end;
    display: flex;
    margin-right: 0;
   /* transform: translate(-50%, 0%); */
    /* position: relative;
    right: -30%; */
}
.wishlistTotal{
    /* border: 1px solid green; */
    padding: .5em;
}
.checkoutBtn{
    display: flex;
    /* margin: auto; */
    justify-content: center;
    /* transform: translate(25%, 0%);  */
    position: relative;
    text-decoration: none;
    margin: 20px auto;
}
.checkoutBtn button{
    padding: 3px;
}
.wishlistTotal{
    font-size: 2em;
    /* transform: translate(5%, 0%);  */
     position: relative;
}
.wishlistHeader h1{
    font-size: 2.5em;
    text-decoration: underline;
    color: rgb(43, 43, 43);
    text-shadow: 1px 1px 2px rgba(117, 116, 116, 0.842);
    margin: 1em;
}
.hide{
    /* display: none; */
}


.wishlistQuantity{
    border: 1px solid red; 
    width: 100px;
    hieght: 100px;
}
.wishlistData div{
   /* // border: 1px solid red;  */
}