/* //////////////CAROUSEL///////////////// */
.carouselParent{
    width: 100vw;
    height: 90vh;
  
    margin: auto;
    z-index: 5;
    margin-top: 0em;
   }
   .carousel{
       /*  this is both the upper and lower part of the carousel - it affects too many compondents   */
      /* border: 2px solid green; */
        display: flex;
        flex-direction: column;
   }
.carouselRoot{
  height: 100%;
  border: 2px solid black;
  
    }
    .carouselCard{
      padding: 30px 0;
      transform: translate(0, -18%);
      
    }
   .legend{
       /*  cant figre out how to change the writing style    */
     z-index: 9;
     bottom: 10%;
     height: 5em;
     width: 5em;
     padding-top: 2em;
     display: none;
   }

   
   /* this is the main carousel size: */
.carousel-slider{
    /* border: 5px solid orange; */
    margin: 0;
     height: 100%;
     border: 2px solid black;
     height: 85vh;
   }
   .carousel .thumbs-wrapper{
      display: none;
      padding: 0px;
      margin: 0px;
      /* border: 5px solid orange; */
      
   }

 .slider-wrapper.axis-horizontal{
    margin: 0px;
    height: 100%;
    /* border: 2px solid red; */
  }
    