/* //////////////CAROUSEL///////////////// */
.carouselParent{
    width: 80vw;
    border: 2px solid black;
    margin: auto;
    z-index: 5;
    margin-top: 3em;
   }
   .carousel{
       /*  this is both the upper and lower part of the carousel - it affects too many compondents   */
      /* border: 2px solid green; */
        display: flex;
        flex-direction: column;
    }
   .legend{
       /*  cant figre out how to change the writing style    */
     z-index: 9;
     top: 50%;
     height: 5em;
     width: 5em;
     padding-top: 2em;
   }
   .slide{
    /*  this is the top image part   */
     /* border: 5px solid orange; */
     height: 15em;
   }

   
   /* this is the main carousel size: */
   div.carousel.carousel-slider{
    /* border: 5px solid orange; */
    margin: 0;
     height: 25em;
   }
   .carousel .thumbs-wrapper{
       /*     */
      padding: 0px;
      margin: 0px;
      /* border: 5px solid orange; */
      
   }

  div.slider-wrapper.axis-horizontal{
    margin: 0px;
    height: 100%;
  }
    