.App {
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.header {
  color: white;
  background-color: black;
  text-align: center;
  height: 2em;
  padding-top: 1em;
}
.mainPage {
  background-color: white;
  height: 100vh;
  width: 100vw;
}

.clothingTypeCard {
  background-color: #7f8d8d7c;
  min-height: 2em;
  padding: 3em;
  display: flex;
  position: relative;
  border-radius: 10px;
}
.name {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px;
}
.parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.5em;
  padding: 4em;
}
.dresses{
  display: flex;
  flex-direction: column;
  margin: 1em;
}
.imageCards{
  display: flex;
  /* border: 5px solid red;  */

}
.clothingTypeCard img {
  width: 200px;
  height: 200px;
  border: 1px solid red;
}
.search{
  border: 1px solid orange;
}
.searchCard{
  border: 1px solid green;
}


.dressCard{
  border: 1px solid pink;
}












.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
